[user]
  name = Nick Hoffman
  email = nick@deadorange.com
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
  ui = auto
[merge]
  tool = vimdiff
[core]
  editor = vim
  excludesfile = ~/.gitignore
  commitGraph = true
[interactive]
  singlekey = true
[push]
  default = current
[pull]
  default = current
  rebase = true
[hub]
  protocol = ssh
[init]
  templatedir = ~/.git_template
[diff]
  algorithm = patience
[protocol]
  version = 2
[gc]
  writeCommitGraph = true
[credential]
  helper = store --file /opt/dev/var/private/git_credential_store
